<p>
    <mat-toolbar>
        <span>SimplyStudy</span>
        <span class="profile-spacer"></span>
        <button mat-icon-button class="material-icons">
            <mat-icon>person</mat-icon>
        </button>
    </mat-toolbar>
</p>

<div class="navigation-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="navigation-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <span class="app-name">SimplyStudy</span>
        <span class="profile-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="material-icons"><mat-icon>person</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>My profile<mat-icon>account_circle</mat-icon></button>
            <button mat-menu-item>Log out<mat-icon>logout</mat-icon></button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" opened>
            <mat-nav-list>
                <a mat-list-item routerLink=".">Dashboard</a>
                <a mat-list-item routerLink=".">My resources</a>
                <a mat-list-item routerLink=".">Search resources</a>
                <a mat-list-item routerLink="/question_sets/1">Test view</a>
                <a mat-list-item routerLink="/login">Log in</a>
                <a mat-list-item routerLink="/register">Register</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>