<h1 mat-dialog-title>{{'Utils.Question'|translate}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>{{'QuestionSetCreate.Content'|translate}}</mat-label>
    <input matInput [(ngModel)]="data.content" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{'QuestionSetCreate.Answer'|translate}}</mat-label>
    <textarea matInput [(ngModel)]="data.answer"></textarea>
  </mat-form-field>
  <div class="question-img">
    <button
      mat-icon-button
      (click)="fileInput.click()"
      matTooltip="{{'QuestionSetCreate.UploadImage'|translate}}"
      *ngIf="!data.image"
    >
      <mat-icon>image</mat-icon>
    </button>
    <input
      #fileInput
      type="file"
      name="image"
      style="display: none"
      (change)="onImageUpload($event)"
    />
    <div class="check-icon" *ngIf="data.image">
      {{data.image.name}} {{'QuestionSetCreate.ImgLoaded' | translate}}
      <button
        mat-icon-button
        (click)="deleteImage()"
        matTooltip="{{'QuestionSetCreate.DeleteImage'|translate}}"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'Utils.Close'|translate}}</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    {{'Utils.Submit'|translate}}
  </button>
</div>
