.question-set-container {
    padding: 20px 40px;
}

.questions {
    padding: 20px 40px;
}

.question {
    width: max-content;
}

.inline {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}