.question-set-container {
    padding: 20px 40px;
}

.question-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;

}

.question-pair {
    display: flex;
    align-items: stretch;
    margin-bottom: 16px;
    width: 100%;
}

.question-card,
.answer-card {
    flex: 1;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
}

.edit-button {
    margin-top: middle;
}

mat-form-field {
    display: flex;
    flex-direction: column;
    padding: 10px;
}