<div class="question-set-container">
    <mat-card class="question-set-info">
        <mat-card-header>
            <mat-card-title>{{questionSet.name}}</mat-card-title>
            <mat-card-subtitle>{{questionSet.owner}}</mat-card-subtitle>
            <mat-card-subtitle>{{questionSet.course}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Learn</button>
            <button mat-button>Test yourself</button>
            <button mat-button>Edit</button>
            <button mat-button (click)="deleteQuestionSet(questionSet.id)">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="question-list">
    <div *ngFor="let question of questionSet.questions" class="question-pair">

        <mat-card class="question-card">
            <mat-card-header>
                <mat-card-title>Question</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{ question.content }}</mat-card-content>
        </mat-card>

        <mat-card class="answer-card">
            <mat-card-header>
                <mat-card-title>Answer</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{ question.answer }}</mat-card-content>
        </mat-card>

        <button mat-icon-button class="edit-button">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</div>