<div class="container">
    <mat-stepper #stepper>
        <mat-step [stepControl]="questionSetData">
            <form [formGroup]="questionSetData">
                <ng-template matStepLabel>Fill the question set data</ng-template>
                <div class="is-private-slide">
                    <mat-slide-toggle formControlName="is_private" [(ngModel)]="isPrivate">Should this set be
                        private?</mat-slide-toggle>
                </div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5"
                        formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Course</mat-label>
                    <mat-select formControlName="course">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let course of courseList" [value]="course">
                            {{course.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="questionsData">
            <form [formGroup]="questionsData" enctype="multipart/form-data">
                <ng-template matStepLabel>Add questions to this set</ng-template>
                <div formArrayName="questions">
                    <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i">
                        <div class="question-container">
                            <div class="question-contents">
                                <mat-form-field>
                                    <mat-label>Content</mat-label>
                                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5"
                                        formControlName="content"></textarea>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Answer</mat-label>
                                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5"
                                        formControlName="answer"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="question-img">
                                <button mat-icon-button (click)="fileInput.click()" matTooltip="Upload image"
                                    *ngIf="!question.get('image')?.value">
                                    <mat-icon>image</mat-icon>
                                </button>
                                <input #fileInput type="file" name="image" style="display:none"
                                    (change)="onImageUpload($event, i)">
                                <div class="check-icon" *ngIf="question.get('image')?.value">
                                    <mat-icon matTooltip="File {{question.get('image')?.value.name}} loaded"
                                        [matTooltipPosition]="'above'">check</mat-icon>
                                    <button mat-icon-button matTooltip="Delete image" (click)="deleteImage(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button mat-button (click)="removeQuestion(i)">Remove</button>
                    </div>
                </div>
                <div>
                    <input #csvInput type="file" style="display:none" (change)="importCsvQuestions($event)"
                        [accept]="'.csv'">
                    <button mat-button (click)="csvInput.click()" matTooltip="Import questions">Import
                        questions</button>
                    <button mat-button (click)="addQuestion()">Add question</button>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="postQuestionSet()">Save</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>