.question-set-container {
  padding: 1em;
}

.question-pair {
  display: flex;
  align-items: stretch;
  margin-bottom: 16px;
  width: 100%;
}

.question-card,
.answer-card {
  flex: 1;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  min-height: 30em;
}
