.container {
  padding: 1em;
}

.list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-elem {
  display: flex;
  align-items: stretch;
  width: 100%;
}

mat-card {
  flex: 1;
  padding-bottom: 10px;
}

mat-form-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.course-info {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.course-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-course {
  display: flex;
  align-items: center;
}
