<div class="container">
    <button mat-raised-button color="primary" (click)="createCourse()">Create new</button>
    <mat-list>
        <mat-list-item *ngFor="let course of courses">
            <div class="course-container">
                <div class="course-info" matRipple (click)="editCourse(course)">
                    <span matListItemTitle>{{course.name}}</span>
                    <span matListItemLine>{{course.university}}</span>
                    <span matListItemLine>{{course.description}}</span>
                </div>
                <div class="delete-course">
                    <mat-icon (click)="deleteCourse(course.id)">delete</mat-icon>
                </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
    </mat-list>
</div>