.container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

mat-form-field {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.course-info {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.course-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-course {
    display: flex;
    align-items: center;
}