<div class="container">
  <button mat-raised-button color="primary" (click)="createCourse()">
    {{ "Utils.New" | translate }}
  </button>
  <div class="list">
    <div class="list-elem" *ngFor="let course of courses">
      <mat-card (click)="editCourse(course)" matRipple>
        <mat-card-header>
          <mat-card-title>{{ course.name }}</mat-card-title>
          <mat-card-subtitle>{{ course.university }}</mat-card-subtitle>
          <mat-card-subtitle>{{ course.description }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <button mat-icon-button (click)="deleteCourse(course.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
