:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  justify-content: flex-end;
}

mat-form-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.reset-password {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
