.container {
    padding: 1em;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.search-bar {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.search-field {
    flex: 8;
    margin-right: 30px;
}

.search-btn {
    margin-bottom: 20px;
    flex: 1;
}