.test-container {
    padding: 1em;
  }
  
.test-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
  
.question-pair {
    display: flex;
    align-items: stretch;
    margin-bottom: 16px;
    width: 100%;
}
  
.question-card,
.answer-card {
    flex: 1;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
}

.question-actions {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    display: flex;
    flex-direction: column;
    padding: 1em;
}